In [1]:
import pandas as pd

In [99]:
df = pd.DataFrame([
    ['Green', 'M', 10.1, 'class1'],
    ['Yellow', 'L', 12.1, 'class3'],
    ['Blue', 'XL', 8.12, 'class1']
    
])
df.columns = ['Color', 'Size', 'Price', 'class']

In [100]:
df

    Color Size  Price   class
0   Green    M  10.10  class1
1  Yellow    L  12.10  class3
2    Blue   XL   8.12  class1

In [101]:
df.Size = df.Size.map({'M':1, 'L':2, 'XL':3})

In [102]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df['class'] = LE.fit_transform(df['class'])

In [103]:
df

    Color  Size  Price  class
0   Green     1  10.10      0
1  Yellow     2  12.10      1
2    Blue     3   8.12      0

In [104]:
X = df[['Color', 'Size', 'Price']].values
y = df['class'].values

In [116]:
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder

# Onehot w sklearn
ct = ColumnTransformer([("One_hot", OneHotEncoder(),[0])], remainder="passthrough") 
ct.fit_transform(X)

array([[0.0, 1.0, 0.0, 1, 10.1],
       [0.0, 0.0, 1.0, 2, 12.1],
       [1.0, 0.0, 0.0, 3, 8.12]], dtype=object)

In [117]:
# Onehot with pandas
pd.get_dummies(df[['Color', 'Size', 'Price']], drop_first=True)

   Size  Price  Color_Green  Color_Yellow
0     1  10.10            1             0
1     2  12.10            0             1
2     3   8.12            0             0